.switch-quickbooks {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch-quickbooks input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-quickbooks {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider-quickbooks:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider-quickbooks {
    background-color: #28a745; /* Success color */
  }
  
  input:checked + .slider-quickbooks:before {
    transform: translateX(26px);
  }
  
  .slider-quickbooks.round {
    border-radius: 34px;
  }